@font-face {
    font-family: 'Comic Sans MS';
    src: url("comic-sans-ms/comici.ttf");
}

* {
    font-family: "Comic Sans MS";
}

body {
    background-color: #222;
    padding: 1rem;
}

header {
    padding: 20px;
    position: relative;
}

footer {
    margin-top: 15px;
    text-align: center;
    color: #fff;
}

footer a {
    color: #c2824a;
}

.actual-link {
    margin-bottom: 0 !important;
}

#copy-link-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 14px 26px 8px;
    background: #c2824a;
    border: none;
    width: fit-content;
    border-radius: .25em;
    cursor: pointer;
}

#copy-link-button img {
    width: 20px;
}

.usage {
    margin: 10px 10px 50px;
}

.usage span {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 16px;
    display: block;
}

.actual-link {
    font-size: 1.25em !important;
}

.usage code {
    display: block;
    background: #444;
    font-size: 1em;
    padding: 1.5em 1em;
    border-radius: 5px;
    overflow-x: auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    color: #fff;
    position: relative;
}

header div:first-of-type {
    display: inline-block;
}

header div:last-of-type {
    display: inline-block;
    font-size: 2.2em;
    color: #c2824a;
    position: absolute;
    top: 0;
    height: max-content;
    bottom: 0;
    height: fit-content;
    margin: auto;
    margin-left: 20px;
}

header img {
    width: 75px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.doge-elements-wrapper * {
    color: #222 !important;
}

.doge-elements-wrapper {
    display: flex;
    text-decoration: none;
    background-color: #c2824a6e;
    margin: 0.5rem;
    width: 100%;
}

.doge-elements-wrapper:hover .status-image {
    opacity: 1;
}

@media (min-width: 640px) {
    body {
        padding: 1rem 4rem;
    }
    .doge-elements-wrapper {
        width: calc(50% - 1rem);
    }
}

@media (min-width: 900px) {
    body {
        padding: 1rem 8rem;
    }
    .doge-elements-wrapper {
        width: calc(33.3333% - 1rem);
    }
}

.status-code-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.25rem;
}

.status-code-wrapper:hover {
    cursor: pointer;
}

.status-code-wrapper:hover>div>.status-image {
    filter: contrast(100%);
}

.status-image {
    background-position: center 16% !important;
    background-repeat: no-repeat !important;
    background-size: 140% !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    opacity: .8;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.status-image {
    content: '';
    display: block;
    padding-top: 56.25%;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    background-color: #c2824a;
}

.status-code {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content p {
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 600;
}
