* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background-color: #222;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.doge-elements-wrapper {
    display: flex;
    background-color: #c2824a6e;
    margin: 0.5rem;
    width: 100%;
}

@media (min-width: 640px) {
    .doge-elements-wrapper {
        width: calc(50% - 1rem);
    }
}

@media (min-width: 900px) {
    .doge-elements-wrapper {
        width: calc(33.3333% - 1rem);
    }
}

.status-code-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.25rem;
}

.status-code-wrapper:hover {
    cursor: pointer;
}

.status-code-wrapper:hover>div>.status-image {
    filter: contrast(100%);
}

.status-image {
    background-position: center 16% !important;
    background-repeat: no-repeat !important;
    background-size: 140% !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.status-image {
    content: '';
    display: block;
    padding-top: 56.25%;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    background-color: #c2824a;
}

.status-code {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content p {
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 600;
}